@import "tailwindcss";

:root {
  --color-primary-light: #5f6368;    /* Cor primária em modo claro */
  --color-secondary-light: #f1f3f4; /* Cor secundária em modo claro */
  --color-background-light: #f9fafb; /* Fundo claro */
  --color-foreground-light: #333;    /* Texto em modo claro */
  
  --color-primary-dark: #b0bec5;     /* Cor primária em modo escuro */
  --color-secondary-dark: #263238;   /* Cor secundária em modo escuro */
  --color-background-dark: #121212;  /* Fundo escuro */
  --color-foreground-dark: #e0e0e0;  /* Texto em modo escuro */
}

@theme inline {
  --color-background-light: var(--color-background-light);
  --color-foreground-light: var(--color-foreground-light);
  --color-primary-light: var(--color-primary-light);
  --color-secondary-light: var(--color-secondary-light);

  --color-background-dark: var(--color-background-dark);
  --color-foreground-dark: var(--color-foreground-dark);
  --color-primary-dark: var(--color-primary-dark);
  --color-secondary-dark: var(--color-secondary-dark);
  
  --font-sans: var(--font-geist-sans, Arial, Helvetica, sans-serif);
  --font-mono: var(--font-geist-mono, "Courier New", monospace);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-dark);
    --foreground: var(--color-foreground-dark);
    --primary-color: var(--color-primary-dark);
    --secondary-color: var(--color-secondary-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-background-light);
    --foreground: var(--color-foreground-light);
    --primary-color: var(--color-primary-light);
    --secondary-color: var(--color-secondary-light);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  line-height: 1.6;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

h1, h2, h3, h4 {
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--secondary-color);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
